footer.d-flex.justify-content-evenly.bg-dark.py-4
    nav(class="d-flex text-white")
        a(href="/", class="nav-link") Home
        a(href="/nosotros", class="mx-4 nav-link") Nosotros
        a(href="/testimoniales" , class="nav-link") Testimoniales
    p.text-white Todos los derechos reservados 
        span= newYear