.p-2.bg-primary
    .container.d-flex.justify-content-between.align-items-center
        a(href="/")
            img(src="/img/logo.svg", class="width", alt="Agencia de viajes")
        nav(class="d-flex fw-bold me-3 text-white")
            a(href="/" class="nav-link") Home
            a(href="/nosotros" class="nav-link mx-3") Nosotros
            a(href="/viajes" class="nav-link me-3") Viajes
            a(href="/testimoniales" class="nav-link") Testimoniales
